body {
    width=100%;
    background-color: white;
    background: linear-gradient(#ee9ca7,#ffdde1) fixed;
}

/* wrapper div style */
#wrapper{
	width: 90vw;
	margin: 0 auto;
	background-color: white;
	padding: 8px;
	border: solid 3px #ee9ca7;
	border-radius: 8px;
	font-family: Helvetica, sans-serif;
}